---
- name: Create node {{ node_name }}
  command: >
    hammer host create
    --name {{ node_name }}
    --organization "{{ org }}"
    --location "{{ location }}"
    --hostgroup "{{ hostgroup }}"
    --managed true
    --build true
    --enabled true
  register: create_result
  changed_when: "'Host created' in create_result.stdout"

- name: Wait before creating next node
  pause:
    seconds: "{{ delay_seconds }}"
  when: not ansible_loop.last
